body {
  background-color: black;
}
h1{

font-size: 40px;

}

img {
  width: 40%;
  margin: auto;
 
}

.header {
  color: red;

}
.one {
color: white;
border: 2px solid; 
}

.pic{
  padding-left: 33%
}
h3 {padding-left:80%}
h4 {padding-left:70%}
.two {
  color: white;
  border: 2px solid;
}
